import { ComponentMeta, ComponentStory } from '@storybook/react';
import React from 'react';
import { mock{name}Props } from './{name}.mock';
import {name}, { I{name} } from './{name}';

export default {
  title: 'templates/{name}',
  component: {name},
  // More on argTypes: https://storybook.js.org/docs/react/api/argtypes
  argTypes: {},
} as ComponentMeta<typeof {name}>;

// More on component templates: https://storybook.js.org/docs/react/writing-stories/introduction#using-args

const Template: ComponentStory<typeof {name}> = (args) => (
  <{name} {...args} />
);

export const Base = Template.bind({});
// More on args: https://storybook.js.org/docs/react/writing-stories/args

Base.args = {
  ...mock{name}Props.base,
} as I{name};
